# Maven build output
/target/

# NetBeans specific
.nb-gradle/
build/
nbproject/private/
nbproject/incremental/

# Temporary and log files
*.log
*.class

# BlueJ/other IDE artifacts
*.ctxt
.settings/
.vscode/
.idea/